/test ppl
test.ppl.txt
Serial NE-1000 controller/Custommodules/__pycache__/__init__.cpython-313.pyc
Serial NE-1000 controller/Custommodules/__pycache__/Pumpcontroller.cpython-313.pyc
Serial NE-1000 controller/Custommodules/__pycache__/Serialfinder.cpython-313.pyc
Serial NE-1000 controller/Custommodules/__pycache__/Unzipper.cpython-313.pyc
__pycache__/
*.pyc
.env
venv/
.streamlit/secrets.toml
.Rhistory
*.pyc
/NE-1000PPLComposer/WIP
